<html>
  <head>
    <title>Friseurteam K</title>
    <link rel="stylesheet" href="mainpage.component.css">
  </head>
  <body>
  <div id="menu">
    <ul>
      <li class="companyname">Friseurteam K</li>
      <li><a href="/app/mainpage/mainpage.component.html">Start</a></li>
      <li><a href="/app/placement/placement.component.html">Standorte</a></li>
      <li><a href="/app/products/products.component.html">Unsere Produkte</a></li>
      <li><a href="/app/pricelist/pricelist.component.html">Preisliste</a></li>
    </ul>
  </div>
  <form class="form">
    <p>Hier ist ein beispieltext.</p>
  </form>
  </body>
</html>
