<!DOCTYPE html>
<html>
<head>
  <title>Meine Bildseite</title>
</head>
<body>
<h1>Unsere Produkte</h1>

<div class="row">
  <div class="column">
    <img class="product_pic" alt="Bild 1" style="width:100%">
    <p>Text für Bild 1</p>
  </div>
  <div class="column">
    <img class="product_pic" alt="Bild 2" style="width:100%">
    <p>Text für Bild 2</p>
  </div>
  <div class="column">
    <img class="product_pic" alt="Bild 3" style="width:100%">
    <p>Text für Bild 3</p>
  </div>
</div>

<div class="row">
  <div class="column">
    <img class="product_pic" alt="Bild 4" style="width:100%">
    <p>Text für Bild 4</p>
  </div>
  <div class="column">
    <img class="product_pic" alt="Bild 5" style="width:100%">
    <p>Text für Bild 5</p>
  </div>
  <div class="column">
    <img class="product_pic" alt="Bild 6" style="width:100%">
    <p>Text für Bild 6</p>
  </div>
</div>

<!-- Weitere Reihen hier einfügen -->

<h1 style="text-align: center">Information</h1>
<p>Alle Produkte sind ausschließlich in einem unserer Standorte verfügbar.<br>
Sprechen Sie uns gerne an.</p>

</body>
</html>
