body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 20px;
  font-family: 'Lato';
}

h1 {
  text-align: center;
  text-shadow: 0px 1px;
  font-family: 'Lato', "Segoe UI";
}

.product_null {
  background-image: url(src/pictures/911.jpg);
  height: 363px;
  width: 644px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.product_one {
  background-image: url(src/pictures/911.jpg);
  height: 363px;
  width: 644px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.product_two {
  background-image: url(src/pictures/911.jpg);
  height: 363px;
  width: 644px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.product_three {
  background-image: url(src/pictures/911.jpg);
  height: 363px;
  width: 644px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.product_four {
  background-image: url(src/pictures/911.jpg);
  height: 363px;
  width: 644px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.row {
  margin: 0 -5px;
}

.product_null:hover, .product_one:hover, .product_two:hover, .product_three:hover, .product_four:hover {
  border: 3px solid #777;
}

.products_null {
  width: 50%;
}

.product_description {
  width: 50%;
}

.column p {
  margin-top: 10px;
}

.products_text {
  width: 644px;
  color: black;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #777;
  margin-bottom: 5%;
}
