#menu {
  background-color: darkred;
  color: white;
  padding: 10px;
}

#menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#menu li {
  display: inline-block;
}

#menu a {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  display: block;
}

#menu a:hover {
  /*background-color: #333;*/
}

.companyname{
  text-align: left;
  padding-right: 30%;
  padding-left: 5%;
}

.form{
  background-color: lightgray;
}
