<html>
<head>
</head>

<!-- Load an icon library to show a hamburger menu (bars) on small screens -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="topnav" [ngClass]="{ 'responsive': isResponsive }">
  <a routerLink="/" class="active">
    Friseurteam <span class="red-letter">K</span>
  </a>

  <a routerLink="/placement">Standorte</a>
  <a routerLink="/pricelist">Preisliste</a>
  <a routerLink="/products">Produkte</a>
  <a href="javascript:void(0);" class="icon" (click)="toggleResponsive()">
    <i class="fa fa-bars"></i>
  </a>
</div>
</html>
