<html>
<head>
  <title style="left: 0;">Friseurteam K</title>
  <link rel="stylesheet" href="header.component.css">
</head>
<body>
<div id="menu">
  <ul>
    <li class="companyname"><a href="header.component.html">Friseurteam K</a></li>
    <li><a href="app/placement/placement.component.html">Standorte</a></li>
    <li><a href="/app/products/products.component.html">Unsere Produkte</a></li>
    <li><a href="/app/pricelist/pricelist.component.html">Preisliste</a></li>
  </ul>
</div>
<form class="form">
  <p>Herzlich Willkommen auf unserer Website.</p>
  <p>Wir unterstützen und begleiten Unternehmen dabei, die eigene Belegschaft (Workforce) aufzubauen, neu auszurichten
    und weiterzuentwickeln, um die Chancen der digitalen Transformation gewinnbringend zu nutzen und Wettbewerbsvorteile
    zu erlangen. Dies gelingt uns dank des tiefen Verständnisses der Herausforderungen unserer Kunden, eigens dafür
    entwickelter Werkzeuge und Methoden sowie eines großen Teams erfahrener Spezialisten. Mit unserem
    lösungsorientierten und ganzheitlichen Ansatz qualifizieren wir Mitarbeiter:innen für künftige Aufgaben und
    Rollen.</p>
</form>
</body>
</html>
