<div class="impressum">
  <h1>Impressum</h1>
</div>
<div class="Impressum_body">
  <h5>Friseurteam K  e.K</h5>
  <h5>Lugbergblick 7B</h5>
  <h5>0351 Dresden</h5>

  <h5>Vertreten durch den Vorstand:</h5>
  <h5>Katrin Barth, Geschäftsführerin</h5>
  <h5>Registergericht: Amtsgericht Dresden</h5>
  <h5>HRB-Nr. ?</h5>
  <h5> ...</h5>
  <h5>Rechtlicher Hinweis</h5>
  <p>Die Texte, Bilder, Grafiken, Animationen, Video- und Audiodateien sowie alle weiteren Inhalte auf dieser Webseite unterliegen den gesetzlichen Bestimmungen des Urheberrechts und ggf. weiteren Rechten des geistigen Eigentums. Der geschützte Inhalt dieser Webseite darf ohne Einwilligung des Rechtsinhabers nicht vervielfältigt, verbreitet, wiedergegeben, öffentlich zugänglich gemacht oder sonst verwertet werden.
    Änderungen von Konstruktion, Ausstattung und Lieferumfang sowie Abweichungen im Farbton sowie Irrtümer bleiben vorbehalten. Alle angegebenen Preise sind unverbindlich.</p>
</div>
