<html>
<head>
</head>
<body>
<div class="impressum">
  <h1>Impressum</h1>
</div>
<div class="impressum_body">
  <h5>Friseurteam K e.K</h5>
  <p>Lugbergblick 7B</p>
  <p>0351 Dresden</p>

  <h5>Vertreten durch den Vorstand:</h5>
  <p>Katrin Barth, Geschäftsführerin</p>
  <p>Registergericht: Amtsgericht Dresden</p>
  <p>HRB-Nr. ?</p>
  <p> ...</p>
  <h5>Rechtlicher Hinweis</h5>
</div>
<div class="impressum_bottom">Die Texte, Bilder, Grafiken, Animationen, Video- und Audiodateien sowie alle weiteren
  Inhalte auf dieser Webseite unterliegen den gesetzlichen Bestimmungen des Urheberrechts und ggf. weiteren Rechten des
  geistigen Eigentums. Der geschützte Inhalt dieser Webseite darf ohne Einwilligung des Rechtsinhabers nicht
  vervielfältigt, verbreitet, wiedergegeben, öffentlich zugänglich gemacht oder sonst verwertet werden.
  Änderungen von Konstruktion, Ausstattung und Lieferumfang sowie Abweichungen im Farbton sowie Irrtümer bleiben
  vorbehalten. Alle angegebenen Preise sind unverbindlich.
</div>
</body>
</html>
