.price-table {
  border-collapse: collapse;
  margin: 5% auto;
  background-color: #1b1c1b;
  font-family: 'Lato';
}

.price-table th, .price-table td {
  text-align: left;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.price-table th {
  background-color: #f2f2f2;
  color: #555;
  font-size: 18px;
  font-weight: bold;
}

.price-table tbody tr:hover {
  /*background-color: #f5f5f5;*/
}

.price-table tbody td:first-child {
  font-weight: bold;
  font-size: 16px;
}

.price-table tbody td:last-child {
  font-weight: bold;
  font-size: 20px;
}

.price-table, .price-table th, .price-table td{
  width: 80%;
}

h1{
  text-align: center;
  font-family: "Times New Roman";
}


.price-accordion {
  display: block;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  /*background: black;*/
  color: white;
}

.example-accordion-item {
  display: block;
  border: solid 1px #ccc;
  background: #1b1c1b;
}

.example-accordion-item + .example-accordion-item {
  border-top: none;
}

.example-accordion-item-header {
  display: flex;
  align-content: center;
  justify-content: space-between;
  /*background: black;*/
}

.example-accordion-item-description {
  font-size: 0.85em;
  color: white;
}

.example-accordion-item-header,
.example-accordion-item-body {
  padding: 16px;
  /*background: black;*/
}

.example-accordion-item-header:hover {
  cursor: pointer;
  /*background-color: #eee;*/
  background-color: #333333;
}

.example-accordion-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  /*background: #007bff;*/
}

.example-accordion-item:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
