
<h1>Unsere Leistungen im Überblick für Sie:</h1>
<table class="price-table">
  <thead>
  <tr>
    <th>Haarpflege</th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Produkt 1</td>
    <td>€</td>
  </tr>
  <tr>
    <td>Produkt 2</td>
    <td>€</td>
  </tr>
  <tr>
    <td>Produkt 3</td>
    <td>€</td>
  </tr>
  </tbody>
</table>
<table class="price-table">
  <thead>
  <tr>
    <th>Alle Leistungen für die medizinische Fußpflege</th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Produkt 1</td>
    <td>€</td>
  </tr>
  <tr>
    <td>Produkt 2</td>
    <td>€</td>
  </tr>
  <tr>
    <td>Produkt 3</td>
    <td>€</td>
  </tr>
  </tbody>
</table>
<table class="price-table">
  <thead>
  <tr>
    <th>Produkte für Zuhause</th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Produkt 1</td>
    <td>€</td>
  </tr>
  <tr>
    <td>Produkt 2</td>
    <td>€</td>
  </tr>
  <tr>
    <td>Produkt 3</td>
    <td>€</td>
  </tr>
  </tbody>
</table>



