
<!--<table class="price-table">-->
<!--  <thead>-->
<!--  <tr>-->
<!--&lt;!&ndash;    <th>Haarpflege für Damen</th>&ndash;&gt;-->
<!--&lt;!&ndash;    <th>kurz</th>&ndash;&gt;-->
<!--    <th>mittel</th>-->
<!--    <th>lang</th>-->
<!--  </tr>-->
<!--  </thead>-->
<!--  <tbody>-->
<!--  <tr>-->
<!--&lt;!&ndash;    <td>Haarschnitt, LW/FW</td>&ndash;&gt;-->
<!--&lt;!&ndash;    <td>42.00 €</td>&ndash;&gt;-->
<!--    <td>44.00 €</td>-->
<!--    <td>46.00 €</td>-->
<!--  </tr>-->
<!--  <tr>-->
<!--    <td>Angebot 2</td>-->
<!--    <td>€</td>-->
<!--  </tr>-->
<!--  <tr>-->
<!--    <td>...</td>-->
<!--    <td>€</td>-->
<!--  </tr>-->
<!--  </tbody>-->
<!--</table>-->
<html>
<table class="price-table">
  <thead>
  <tr>
    <th>Haarpflege für Herren</th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Trockenhaarschnitt</td>
    <td>18.00 €</td>
  </tr>
  <tr>
    <td>Maschinenschnitt</td>
    <td>15.00 €</td>
  </tr>
  <tr>
    <td>Waschen, Schneiden, Fönen, Styling</td>
    <td>24.00 €</td>
  </tr>
  <tr>
    <td>Bartschnitt</td>
    <td>10.00 €</td>
  </tr>
  </tbody>
</table>
<table class="price-table">
  <thead>
  <tr>
    <th>Haarpflege für Kinder bis 14 Jahre</th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Trockenhaarschnitt</td>
    <td>15.00 €</td>
  </tr>
  <tr>
    <td>Waschen, Schneiden, Föhnen</td>
    <td>24.00 €</td>
  </tr>
  </tbody>
</table>
<table class="price-table">
  <thead>
  <tr>
    <th>Alle Leistungen für die medizinische Fußpflege</th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Fusspflege</td>
    <td>21.00 €</td>
  </tr>
  <tr>
    <td>Fussmassage - 20 Minuten</td>
    <td>15.00 €</td>
  </tr>
  <tr>
    <td>Fussmassage - 30 Minuten</td>
    <td>20.00 €</td>
  </tr>
  <tr>
    <td>Nägel lackieren</td>
    <td>2.00 €</td>
  </tr>
  <tr>
    <td>Maniküre</td>
    <td>18.00 €</td>
  </tr>
  <tr>
    <td>Fußnägel scheiden</td>
    <td> 8.00 €</td>
  </tr>
  </tbody>
</table>
<table class="price-table">
  <thead>
  <tr>
    <th>Produkte für Zuhause</th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Angebot 1</td>
    <td>€</td>
  </tr>
  <tr>
    <td>Angebot 2</td>
    <td>€</td>
  </tr>
  <tr>
    <td>...</td>
    <td>€</td>
  </tr>
  </tbody>
</table>

<div class="Mainpage_End">
  <button class="Button_End" (click)="scrollToTop()">Nach oben</button>
</div><hr>
</html>


