h1 {
  text-align: center;
  color: black;
  font-weight: bold;
  /*text-shadow: 5px 5px rgba(0,0,5,0);*/
  text-shadow: 20px 4px 4px 4px #ffffff;
  font-family: 'Lato', "Segoe UI";
}

.three_maps {

}

.three_card {
  width: 100%;
  height: 100%;
  min-height: 600px;
}

.three_description {
  font-family: 'Lato';
  text-align: center;
}
