<html>

<head>
  <meta charset="utf-8">
</head>
<body>

<!-- slidehow -->

<div class="slideshow-container">
  <div class="mySlides slide1" [style.display]="slides[0].display">
    <div class="caption">{{ slides[0].caption }}</div>
  </div>
  <div class="mySlides slide2" [style.display]="slides[1].display">
    <div class="caption">{{ slides[1].caption }}</div>
  </div>
  <div class="mySlides slide3" [style.display]="slides[2].display">
    <div class="caption">{{ slides[2].caption }}</div>
  </div>
  <div class="mySlides slide4" [style.display]="slides[3].display">
    <div class="caption">{{ slides[3].caption }}</div>
  </div>

  <button class="prev" (click)="prevSlide()">&#10094;</button>
  <button class="next" (click)="nextSlide()">&#10095;</button>
</div>


<!-- card element -->
<div class="card">
  <!--  <img src="/pictures/jubilee-ace.jpg" style="width:100%">-->
  <div class="card_headline">
    <h1>
      Friseurteam <span class="red-letter">K</span>
    </h1>
  </div>
  <div class="card-image"
     id="card_pic">
  </div>
  <div class="card_headline3">
    <h5>Das Unternehmen wurde im Jahre xxxx von Katrin Barth (in Stuttgart) gegründet [..].<br> Seit 2006 gilt unser
      Geschäft als Meisterbetrieb durch unseren Meisterbrief. <br> Unsere Standorte sind mit Fachkräften im Friseur,
      sowie im Hol- und Bringdienst ausgestattet.</h5>
  </div>
</div>

<div id="mainpage_SecondText">
  <h1 class="mainpage_h1">Reguläre Öffnungzeiten</h1><br>
  <table class="price-table">
    <tbody>
    <tr>
      <td>Montag</td>
      <td>08:00 - 14:00 Uhr</td>
    </tr>
    <tr>
      <td>Dienstag</td>
      <td>08:00 - 14:00 Uhr</td>
    </tr>
    <tr>
      <td>Mittwoch</td>
      <td>08:00 - 14:00 Uhr</td>
    </tr>
    <tr>
      <td>Donnerstag</td>
      <td>08:00 - 14:00 Uhr</td>
    </tr>
    <tr>
      <td>Freitag</td>
      <td>08:00 - 12:00 Uhr</td>
    </tr>
    <tr>
      <td>Samstag | Sonntag | Feiertage</td>
      <td>geschlossen</td>
    </tr>
    </tbody>
  </table>
  <br><br><br>
</div>

<h1 class="mainpage_h1">Aktuelle Informationen</h1>
<hr>
<h5 class="mainpage_p">Sehr geehrte Kunden, <br> bitte beachten Sie unsere Öffnungszeiten, die für unsere Friseursalons
  gelten. <br></h5><br>

<div class="Mainpage_End">
  <button class="Button_End" (click)="scrollToTop()">Nach oben</button>
</div>


</body>
</html>
