<html>
<!--<div id="mainpage_introduce">-->
<!--  <div> Katrin Barth, Geschäftsführerin von Friseurteam-K</div>-->
<!--</div>-->
<!--<div id="mainpage_certificate">-->
<!--  <div>Offizieler Meisterbetrieb seit 2012</div>-->
<!--</div>-->

<div class="w3-content w3-section" style="max-width: 100%;">
  <img class="mySlides" src="911.jpg" style="width: 100%">
  <img class="mySlides" src="jubilee-ace.jpg" style="width:100%">
</div>

<div class="card">
  <p class="firstImage"></p>
</div>

<div class="secondCard">
  <p class="secondImage">
  <h1>Katrin Barth</h1>
  <p class="title">Geschäftsführerin</p>
  <p>Friseurteam-K</p>
  <p><button routerLink="/career">Kontakt</button></p>
</div>

<div id="mainpage_SecondText">
  <h1 class="mainpage_h1">Reguläre Öffnungzeiten</h1>
  <table class="price-table">
    <tbody>
    <tr>
      <td>Montag</td>
      <td>08:00 - 14:00 Uhr</td>
    </tr>
    <tr>
      <td>Dienstag</td>
      <td>08:00 - 14:00 Uhr</td>
    </tr>
    <tr>
      <td>Mittwoch</td>
      <td>08:00 - 14:00 Uhr</td>
    </tr>
    <tr>
      <td>Donnerstag</td>
      <td>08:00 - 14:00 Uhr</td>
    </tr>
    <tr>
      <td>Freitag</td>
      <td>08:00 - 12:00 Uhr</td>
    </tr>
    <tr>
      <td>Samstag | Sonntag | Feiertage</td>
      <td>geschlossen</td>
    </tr>
    </tbody>
  </table>
</div>
<h1 class="mainpage_h1">Aktuelle Informationen
    <p class="mainpage_p">Inhalt von Haupttext ...</p>
</h1>
</html>
