<html>
  <head>
  </head>
<body>
  <table>
    <div class="table_header">
      <h1>Unsere Kontaktdaten</h1>
    </div>
    <div class="table_picture">
    </div>
    <div class="table_body>">
      0351 ******
    </div>
  </table>



  <div class="card">
    <!--  <img src="/pictures/jubilee-ace.jpg" style="width:100%">-->
    <h1>
      Friseurteam <span class="red-letter">K</span>
    </h1>
    <div class="title" >
      <img src="jubilee-ace.jpg" class="card_pic"></div>
    <h3>
      Herzlich Willkommen auf unsere Website
    </h3>
    <p>Das Unternehmen wurde im Jahre xxxx von Katrin Barth (in Stuttgart) gegründet [..].<br> Seit 2006 gilt unser Geschäft als Meisterbetrieb durch unseren Meisterbrief. <br> Unsere Standorte sind mit Fachkräften im Friseur, sowie im Hol- und Bringdienst ausgestattet.</p>
  </div>

</body>
</html>
