/* You can add global styles to this file, and also import other style files */

body {
  /*background-color: #FDF6E3;*/
  font-family: 'Lato', sans-serif; /*text-align: center;*/
  /*border: 1px solid #CCC;*/
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

table {
  text-align: center;
}

html {
  font-family: Arial;
  background-image: url(pictures/background_pro2.jpg);
  background-size: 1000%;
  /*background-position: center;*/
  background-repeat: no-repeat;
}

table, tr, td, h, a {
  color: white;
}

.topnav, #footer {
  background-image: url(pictures/menu_footer_bg.jpg);
}


.image {
  height: 363px;
  width: 644px;
  background-size: cover;
  background-position: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.image1 {
  background-image: url(pictures/mainpage1.JPG);
}

.image2 {
  background-image: url(pictures/eingang_schild.jpg);
}

.mySlides {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.slide1 {
  background-image: url(pictures/mainpage1.JPG);
}

.slide2 {
  background-image: url(pictures/eingang_schild.jpg);
}

.slide3 {
  background-image: url(pictures/911.jpg);
}

.slide4 {
  background-image: url(pictures/jubilee-ace.jpg);
}

.line.active {
  color: red;
  width: 50px;
}

/* Linien-Styling */
.line-container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.line {
  width: 30px;
  height: 5px;
  background-color: #b52828;
  margin: 0 5px;
  cursor: pointer;
}

/*.slide1:hover, .slide2:hover, .slide3:hover, .slide4:hover {*/
/*  transform: scale(0.9);*/
/*}*/

#card_pic {
  background-image: url(src/pictures/meisterbrief.jpg);
  /*transform: scale(1.05);*/
  /*transform: scaleY(1.5);*/
  /*transform: scalex(1.5);*/
  width: 600px;
  height: 625px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.Button_End {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1b1c1b;
  color: white;
  cursor: pointer;
  width: 80%;
  height: 30px;
}

.Mainpage_End {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
}
