/* You can add global styles to this file, and also import other style files */

body {
  /*background-color: #FDF6E3;*/
  font-family: "Courier New", Courier, monospace;
  /*text-align: center;*/
  /*border: 1px solid #CCC;*/
  box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
}

table {
  text-align: center;
}

html {
  font-family: Arial;
  background-image: url(pictures/background_pro2.jpg);
  background-size: 100%;
  /*background-position: center;*/
  background-repeat: no-repeat;
}

table, tr, td, h, a {
  color: white;
}

#menu, #footer {
  background-image: url(pictures/menu_footer_bg.jpg);
}

.product_pic {
  background-image: url(pictures/911.jpg);
  height: 363px;
}

.firstImage {
  background-image: url(pictures/practitioner.jpg);
  height: 904px;
  justify-content: center;
  background-color: black;
}

.secondImage {
  background-image: url(pictures/jubilee-ace.jpg);
  height: 293px;
}
