<html>
  <head>
  </head>
  <body class="placement">
  <h1>Alle Standorte im Überblick</h1>

  <!-- placement.component.html -->
  <div class="tab">
    <button class="tablinks, active" routerLink="/placement/p1" (mouseover)="openCity('Herzzentrum')">Pflegeheim Gegenüber vom Herzzentrum Dresden</button>
    <button class="tablinks" routerLink="/placement/p2" (mouseover)="openCity('blauen Wunder')">Pflegeheim am blauen Wunder</button>
    <button class="tablinks" routerLink="/placement/p3" (mouseover)="openCity('Elbufer')">Pflegeheim am Elbufer</button>
  </div>

  <div id="Herzzentrum" class="tabcontent">
    <h3>Weitere Informationen</h3><hr>
    <p></p>
    <p>In diesem Standort bieten wir Heimkunden als auch externen Kunden unsere Leistungn an.</p>
    <!--    <p>Fetscherstraße 111, 01307 Dresden</p>-->
    <button class="placement_all" routerLink="/placement/p1" >Zur Wegbeschreibung</button>
  </div>

  <div id="blauen Wunder" class="tabcontent">
    <h3>Weitere Informationen</h3><hr>
    <p></p>
    <p>In diesem Standort bieten wir ausschließlich Heimkunden unsere Leistungen an.</p>
    <!--    <p>Schillerplatz 12, 01309 Dresden</p>-->
    <button class="placement_all" routerLink="/placement/p2" >Zur Wegbeschreibung</button>
  </div>

  <div id="Elbufer" class="tabcontent">
    <h3>Weitere Informationen</h3><hr>
    <p></p>
    <p>In diesem Standort bieten wir ausschließlich Heimkunden unsere Leistungen an.</p>
    <!--    <p>Käthe-Kollwitz-Ufer 4, 01307 Dresden</p>-->
    <button class="placement_all" routerLink="/placement/p3" >Zur Wegbeschreibung</button>
  </div>

  <div class="clearfix"></div>


  </body>
</html>



