<html>
  <head>
  </head>
  <body>
<section class="placements">
  <h1>Unsere Friseursalons</h1><hr>

  <div class="row">
    <div class="placement-col">
      <h3>Herzzentrum</h3>
      <hr>
      <p>Unser Geschäft gegenüber des Herzzentrums befindet sich im Erdgeschoss.</p>
      <p>Direkt Links nach dem eintreten in das Altersheim finden Sie unser ca 20 QM großen Friseursalon.</p>
      <p><b>In diesem Standort bieten wir Heimkunden als auch externen Kunden unsere Leistungn an.</b></p>
      <p>Fetscherstraße 111, 01307 Dresden</p>
      <button class="placement_all" routerLink="/placement/p1">Zur Wegbeschreibung</button>
    </div>

    <div class="placement-col">
      <h3>Blaues Wunder</h3>
      <hr>
      <p>Unser Geschäft befindet sich in der nähe vom blauen Wunder im Erdgeschoss.</p>
      <p>Direkt Links nach dem eintreten in das Altersheim finden Sie unser ca 20 QM großen Friseursalon.</p>
      <p>In diesem Standort bieten wir ausschließlich Heimkunden unsere Leistungen an.</p>
      <p>Schillerplatz 12, 01309 Dresden</p>
      <button class="placement_all" routerLink="/placement/p2">Zur Wegbeschreibung</button>
    </div>

    <div class="placement-col">
      <h3>Elbufer</h3>
      <hr>
      <p>Unser Geschäft befindet sich am Elbufer im Erdgeschoss.</p>
      <p>Direkt Links nach dem eintreten in das Altersheim finden Sie unser ca 20 QM großen Friseursalon.</p>
      <p>In diesem Standort bieten wir ausschließlich Heimkunden unsere Leistungen an.</p>
      <p>Käthe-Kollwitz-Ufer 4, 01307 Dresden</p>
      <button class="placement_all" routerLink="/placement/p3">Zur Wegbeschreibung</button>
    </div>
  </div>

</section>

<h1>Wichtige Information</h1><hr>
  <h4>Besuch von externen Kunden sind ausschließlich in unserem Friseursalon "Herzzentrum" an.</h4>
<hr>
<div class="Mainpage_End">
  <button class="Button_End" (click)="scrollToTop()">Nach oben</button>
</div>
</body>
</html>


